*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}
#imagemtopo{
    width: 30%;
  
}
.div1{
 padding: 80px;
}